body{
    background-color: rgb(255, 176, 147);
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: white;
    background-color: brown;
    text-align: left;
    border: 5px solid blue;
    width: 570px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(115, 115, 202);
    margin: 10px;
    padding: 10px;

}
header{
    background-color: lightblue;
    border: 10px solid darkblue;
    border-radius: 5px;
    box-shadow: 05px 05px 05px grey;
    text-align: center;
    max-width: 500px;
    
    padding: 10px;
    
    margin: 10px auto 40px auto;
}

a{
    border-color: black;
    border-width: 20px;
}

.infos{
    background-color: gray;
    color: white;
    max-width: 500px;
    border: 10px solid rgb(78, 78, 224);
    border-radius: 10px;
    box-shadow: 05px 05px 05px black;
    margin: auto;
    padding: 20px 10px 20px 10px;
}
main{
    margin: center;
    background-color: rgb(147, 190, 190);
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
    border: 10px solid grey;
    padding: 10px;
}
main:hover{
    background-color: blue;
}

#newpage{
    color: white;
    text-align: center;
    background-color: black;
    margin: auto;
    height: 40px;
    width: 1100px;
    padding: 10px;
    border: 10px solid red;
    border-radius: 7px;
}