body{
    background-color: grey;
}

h1{
    color: white;
}

header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(41, 41, 41);
    height: 100px;
    margin: 5px auto 5px auto;
    padding: 5px;
}
nav{
    background-color: cornflowerblue;
    padding: 2px;
}

nav > a{
    text-decoration: none;
    color: white;
    margin-right: 3px;
}

nav > a:hover {
    text-decoration: underline;
    box-shadow: 1px 1px 1px 1px black;
}

main{
    background-color: rgb(219, 215, 215);
    margin: 5px auto 5px auto;
    padding: 5px;
}

article{
    background-color: rgb(73, 65, 65);
    color: white;
    padding: 0px 5px 0px 5px;
}

aside{
    text-align: center;
    background-color: rgb(20, 20, 20);
    color: white;
}

.title{
    text-align: center;
}
footer > p{
    margin: 0px;
}
footer{
    color: white;
    background-color: black;
    margin: 1px auto 1px auto;
    padding: 2px;
    text-align: center;
    width: 325px;
    border-radius: 2px;
    border: 1px solid rgb(255, 255, 255);

}