@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: darkgray;
    color: white;
}

#title{
    text-align: center;
    padding: 15px;
    display: block;
}

body{
    background-color: lightgrey;
}

menu{
    display: block;
}

menu > ul > li > a{
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: black;
    color: white;
    border-top: 1px solid grey;
    text-align: center;
}

menu > ul > li > a:hover{
    background-color: grey;
}

menu > ul{
    list-style-type: none;
}

main{
    width: 80vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.2em;
    text-indent: 20px;
}

main > article > h2{
    text-align: center;
    padding-bottom: 30px;
}

footer{
    font-weight: bolder;
    text-align: center;
    background-color: black;
    color: white;
}

footer > p > a{
    text-decoration: none;
    color: white;
}

footer > p > a:hover{
    color: grey;
    text-decoration: underline;
}