body{background-color: rgb(41, 40, 40);}
h1{color: white; font-size: 55px; font-family: 'Times New Roman', Times, serif; text-align: center;}
h2{color: wheat; font-size: 38px; font-family: 'Times New Roman', Times, serif; text-align: center;}
p{color: white; font-size: 18px; text-align: justify;}
a{color: white;}