@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

caption{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

th{
    border: 1px solid black;
    padding: 10px;
}

td{
    border: 1px solid black;
    padding: 10px;
}

table{
    border-collapse: collapse;
    margin: 20px;
}

#cabe{
    background-color: grey;
    color: white;
}

.me{
    background-color: grey;
    color: white;
}

.mh{
    background-color: grey;
    color: white;
}