@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
}
.first{
    border-collapse: collapse;
    margin: 10px;
}

.titulo{
    text-align: center;
}

#lista{
    border-collapse: collapse;
    padding: 10px;
    margin: auto;
    text-align: center;
    background-color: grey;
    color: white;
}

td:hover{
    background-color: blue;
}