@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: grey;
    padding: 10px;
}

 table{
    border-collapse: collapse;
    width: 400px;
    box-shadow: 2px 2px 6px black;
 }

thead{
    background-color: aquamarine;
}

th{
    border: 1px solid black;
    height: 50px;
}

 td{
    border: 1px solid black; 
    padding: 20px;
 }

.roda{
    color: black;
    background-color: aquamarine;
 }
 
 .num{
    text-align: right;
 }

 tbody > tr:nth-child(2n){
    background-color: red;
 }
 

 